@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --detailsText: rgba(0, 0, 0, 0.5);
  --bgComponents: #85D3FF;
  --secondaryComponents: #C4C4C4;
  --secondaryBgComponents: #CDEEFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100%;
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 2.25em;
}

a {
  display: flex;
  align-items: center;
  color: var(--detailsText);
  column-gap: .375em;
  font-size: 1.25em;
  text-decoration: none;
}

main {
  background: rgba(247, 247, 247, 0.68);
}

.searchForm {
  border: .063em solid var(--secondaryComponents);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 17.2%;
}

input[type = "search"] {
  border: none;
  border-radius: inherit;
  padding-block: 1.125em;
  padding-inline: 1.25em;
  width: 100%;
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type = "search"]::placeholder {
  font-size: 1.25em;
}

.searchButton {
  background: transparent url(../imgs/searchIcon.svg) no-repeat center;
  border: none;
  border-radius: inherit;
  color: transparent;
  cursor: pointer;
  outline: none;
}

a:visited {
  color: var(--detailsText);
}

.buttonWrapper {
  display: flex;
  column-gap: 1.25em;
}

.btnSeller {
  background: #FFF;
  border: .063em solid var(--bgComponents);
  border-radius: 10px;
  color: var(--detailsText);
  font-size: 1.25em;
  font-weight: 500;
  padding-block: 1.125em;
  padding-inline: 1.875em;
  cursor: pointer;
}

.btnLoginSignin {
  background: var(--bgComponents);
  border-radius: 10px;
  border-width: 0;
  font-size: 1.25em;
  font-weight: 500;
  padding: 1.125em;
  cursor: pointer;
}

.likeIcon {
  background: url(../imgs/nfHeartIcon.svg) no-repeat;
  background-size: cover;
  display: block;
  width: 1.75em;
  height: 1.563em;
}

.cartIcon {
  background: url(../imgs/cartIcon.svg) no-repeat;
  background-size: cover;
  display: block;
  width: 1.625em;
  height: 1.438em;
}

.navCategory {
  width: 100%;
  border-top: .063em solid #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1.469em;
}

.navCategory ul {
  display: flex;
  column-gap: 2.25em;
}

.navCategory ul li {
  list-style: none;
  color: var(--detailsText);
  font-size: 1.25em;
}

.discountAlert {
  width: 100%;
  background: var(--secondaryComponents);
  justify-content: center;
  column-gap: .156em;
  text-align: center;
  padding-block-start: .375em;
  padding-block-end: .625em;
}

.highlightDiscount {
  background-color: #FFF;
  border-radius: 30px;
  padding-inline-start: .219em;
}

.sloganText {
  text-transform: uppercase;
  font-weight: 700;
  color: #FF0000;
}

.heartIcon {
  background: transparent url(../imgs/fHeartIcon.svg) no-repeat;
  display: block;
  width: 1.875em;
  height: 26px;
}

footer {
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #E5E5E5;
  padding-block: 2.5em;
}

.doginsInfo {
  display: flex;
  flex-direction: column;
  row-gap: .5em;
  color: var(--detailsText);
}

.doginsInfo figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doginsInfo figure figcaption {
  color: #000;
  font-size: 1.563em;
  font-weight: 700;
}

.socialMedia {
  display: flex;
  justify-content: center;
  column-gap: .75em;
}

.socialInsta {
  background: transparent url(../imgs/iconInstagram.svg) no-repeat center;
  width: 38px;
  height: 38px;
}

.socialFacebook {
  background: transparent url(../imgs/iconFacebook.svg) no-repeat center;
  width: 38px;
  height: 38px;
}

.footButtonWrapper {
  display: flex;
  flex-direction: column;
  row-gap: .938em;
}

.quickLinks ul li,
.mostClicked ul li {
  color: #000;
  list-style: none;
}

.quickLinks h3,
.mostClicked h3 {
  font-size: 1.5em;
}

.discountAlert,
.sectionProductsTitle {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  font-weight: 500;
}

#imgs-carousel {
  padding: 1.563em;
}

.imgs-slider {
  display: flex;
  column-gap: 1.75em;
}

.showProducts {
  display: flex;
  justify-content: space-between;
  padding-inline: 3.75em;
}

.sectionProductsTitle {
  column-gap: .938em;
}

.paginationButton {
  display: flex;
  column-gap: .625em;
}

.leftButton,
.rightButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  padding-block: 1.125em;
  padding-inline: 2.25em;
}

.rightButton {
  background: var(--bgComponents);
}

.rightButton img {
  transform: rotate(180deg);
}

/* Here's the problem of Weekly */

.productsWrapper {
  width: 100%;
  display: flex;
  column-gap: 1.563em;
  padding-inline: 3.75em;
}

.productCard {
  width: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 1.563em;
  background-color: #FFF;
  border-radius: 20px;
  padding-block: 2.375em;
  padding-inline: 2.25em;
  color: var(--detailsText);
  box-sizing: border-box;
  margin-block: 2.5em;
}

.productImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productPrice h2 {
  color: #000;
}

#productsCategories {
  background-color: #CDEEFF;
  padding-block: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.875em;
}

#productsCategories header {
  padding-inline: 5.5em;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  column-gap: 1.375em;
}

.categories li {
  width: 16.25em;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25em;
  padding-block-start: 2.5em;
  padding-block-end: 1.25em;
  padding-inline: 2.5em;
}